<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MobileTest" verbose="1">
    <test name="Navigation">
        <classes>
            <class name="com.globant.test.HomeTest"></class>
        </classes>
    </test>
    <test name="SignUp">
        <classes>
            <class name="com.globant.test.LoginTest"></class>
        </classes>
    </test>
</suite>