<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MobileTest" verbose="1">
    <test name="Navigation">
        <classes>
            <class name="com.globant.test.HomeTest"></class>
            <class name="com.globant.test.WebViewTest"></class>
        </classes>
    </test>
    <test name="SignUp">
        <classes>
            <class name="com.globant.test.LoginTest">
                <methods>
                    <include name="checkSignUp"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Login">
        <parameter name="email" value="dinosaurio@gmail.com" />
        <parameter name="password" value="12345678" />
        <classes>
            <class name="com.globant.test.LoginTest">
                <methods>
                    <include name="checkLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Swipe Cards">
        <classes>
            <class name="com.globant.test.HomeTest">
                <methods>
                    <include name="SwipeCards"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>